<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body>
<header class="bg-blue-600 p-4 text-white">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/"><h1 class="text-xl">Uni</h1></a>
        <nav>
            <ul class="flex space-x-4">
                <li><a href="/user/login-page" class="hover:text-blue-300">로그인</a></li>
                <li><a href="/user/signup" class="hover:text-blue-300">회원가입</a></li>
                <li><a href="/user/mypage" class="hover:text-blue-300">마이페이지</a></li>
                <li><a href="/cart/cartlist" class="hover:text-blue-300">장바구니</a></li>
            </ul>
        </nav>
    </div>
    <div class="bg-blue-700">
        <div class="container mx-auto py-2">
            <ul class="flex space-x-4">
                <li><a href="/items/itemlist?category=1" class="hover:text-blue-300">카테고리1</a></li>
                <li><a href="/items/itemlist?category=2" class="hover:text-blue-300">카테고리2</a></li>
                <li><a href="/items/itemlist?category=3" class="hover:text-blue-300">카테고리3</a></li>
            </ul>
        </div>
    </div>
</header>

<main class="container mx-auto mt-8">
    <div class="w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md">
        <div class="px-6 py-4">
            <h2 class="text-2xl font-bold text-center">로그인</h2>
            <form action="/user/login" method="POST" class="mt-4">
                <div>
                    <label class="block">아이디</label>
                    <input type="username" placeholder="아이디" name="username" class="w-full mt-2 px-4 py-2 border rounded-md focus:border-blue-400" required>
                </div>
                <div class="mt-4">
                    <label class="block">비밀번호</label>
                    <input type="password" placeholder="비밀번호" name="password" class="w-full mt-2 px-4 py-2 border rounded-md focus:border-blue-400" required>
                </div>
                <button type="submit" class="w-full mt-4 bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded focus:outline-none">로그인</button>
            </form>
        </div>
    </div>
</main>

<footer class="bg-gray-200 text-center p-4 text-sm mt-8">
    © 2024 Uni. All rights reserved.
</footer>
</body>