<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
    <script src="/static/jwt.js"></script>

</head>
<body class="bg-gray-100">
<div class="header">
    <div th:replace="~{fragments/header :: header(username=${username}, categories=${categories})}"></div>
</div>

<main class="container mx-auto mt-8">
    <div class="bg-white p-8 rounded-lg shadow-lg" id="product-detail">
        <div class="flex flex-col md:flex-row">
            <div class="flex flex-col justify-between"></div>
        </div>
    </div>
</main>

<footer class="bg-gray-200 text-center p-4 text-sm mt-8">
    © 2024 Uni. All rights reserved.
</footer>
</body>
</html>
